<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chris.my.shop.web.admin.dao.TbContentCategoryDao">
    <sql id="selectContentCategory">
        SELECT
          a.id,
          a.parent_id AS parentId,
          a.name,
          a.status,
          a.sort_order AS sortOrder,
          a.is_parent AS isParent,
          a.updated
        FROM
          tb_content_category AS a
    </sql>
    <select id="selectAll" resultType ="com.chris.my.shop.web.domain.TbContentCategory">
        <include refid="selectContentCategory" />
    </select>

    <select id="getById" resultType ="com.chris.my.shop.web.domain.TbContentCategory">
        <include refid="selectContentCategory" />
        WHERE a.id=#{id};
    </select>

    <select id="selectByPid" resultType="com.chris.my.shop.web.domain.TbContentCategory">
        <include refid="selectContentCategory"/>
        WHERE
        a.parent_id=#{parentId};

    </select>

</mapper>